@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Open+Sans&family=Poppins&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark body {
    background-color: theme("accentColor.gray.800");
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font: inherit;
    color: currentColor;
    width: 16px;
    height: 16px;
    border: 2px solid theme("accentColor.test-lgt");
    border-radius: 50%;
    translate: 0 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: theme("accentColor.brand");
    box-shadow:
      1px 1px inset white,
      -1px -1px inset white,
      1px -1px inset white,
      -1px 1px inset white;
    scale: 0;
    transition: scale 100ms ease-in-out;
  }

  html.dark input[type="radio"]::before {
    box-shadow:
      1px 1px inset theme("accentColor.dark-card"),
      -1px -1px inset theme("accentColor.dark-card"),
      1px -1px inset theme("accentColor.dark-card"),
      -1px 1px inset theme("accentColor.dark-card");
  }

  input[type="radio"]:checked {
    border-color: theme("accentColor.brand");
  }

  input[type="radio"]:checked::before {
    scale: 1;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    overflow: visible;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50vw;
    padding: 2px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
